.contato {
  background: #000;
  color: #fff;
}

.contato-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  gap: 144px;
  position: relative;
}

.contato-container::before {
  content: "";
  height: 128px;
  width: 128px;
  top: -64px;
  position: absolute;
  background: url(../img/detalhe.svg);
}

.contato-texto {
  color: #ccc;
  font-size: 1.5rem;
  line-height: 1.44;
  margin-top: 150px;

  width: 30ch;
}

.contato-lista {
  color: fff;
  font-size: 2rem;
  line-height: 1.44;
  margin-top: 150px;
}

@media (max-width: 1000px) {
  .contato-container {
    grid-template-columns: 1fr;
    gap: 0px;
  }
}
