.contato {
  background: #000;
  color: #fff;
}

.contato-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 20px 60px;
  gap: 144px;
  position: relative;
}

.contato-container::before {
  content: "";
  height: 128px;
  width: 128px;
  top: -64px;
  position: absolute;
  background: url(../img/detalhe.svg);
}

.contato-texto {
  color: #ccc;
  font-size: 1.75rem;
  line-height: 1.44;
  margin-top: 150px;
  word-wrap: break-word;
  width: 30ch;
}

.contato-lista {
  color: #fff;
  font-size: 2rem;
  line-height: 1.44;
  margin-top: 150px;
}

.footer-copy {
  display: block;
  color: #a3a3a3;
  margin-top: 120px;
}

@media (max-width: 1000px) {
  .contato-container {
    gap: 60px;
  }
}

@media (max-width: 917px) {
  .contato-container {
    grid-template-columns: 1fr;
  }
  .contato-lista {
    margin-top: 60px;
    text-align: end;
  }
  .contato-texto {
    margin-top: 60px;
  }
  .footer-copy {
    margin-top: 60px;
  }
}

@media (max-width: 507px) {
  .contato-lista {
    text-align: initial;
    font-size: 1.5rem;
  }
  .contato-texto {
    font-size: 1rem;
  }
}
